.content-layout {
    .layout {
        min-height: 100vh;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../img/back2.webp");
        background-repeat: repeat-y;
        background-size: cover;
    }
}